<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Container List</title>
    </head>
    <body>
        <h1>Container List</h1>
        {{ range $index, $ctr := .CtrData }}
        <ul>
            <h3>{{ index $ctr "CtrName" }}</h3>
            <p>{{ index $ctr "CtrImg" }}, {{ index $ctr "CtrStat" }}</p>
            <form method="post" enctype="multipart/form-data" action='/api-path/{{ index $ctr "CtrID" }}'>
                <input type="submit" value="Start"/>
            </form>
            <form method="post" enctype="multipart/form-data" action='/api-path/{{ index $ctr "CtrID" }}'>
                <input type="submit" value="Stop"/>
            </form>
            <form method="post" enctype="multipart/form-data" action='/api-path/{{ index $ctr "CtrID" }}'>
                <input type="submit" value="Restart"/>
            </form>
        </ul>
        {{ end }}
    </body>
</html>